 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1743px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 61px 15px 0;
}

.u-section-1 .u-text-2 {
  width: 503px;
  margin: 40px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1059px;
  margin: 95px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 183px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 673px;
}

.u-section-1 .u-image-1 {
  height: 312px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-2 {
  min-height: 397px;
  background-image: url("images/2439450_092117-wabc-international-day-of-peace-img.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 478px;
}

.u-section-1 .u-image-3 {
  height: 328px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 522px;
}

.u-section-1 .u-image-4 {
  height: 294px;
  margin: 198px auto 0 0;
}

.u-section-1 .u-image-5 {
  min-height: 353px;
  background-image: url("images/kaiserdepression-643772646bfe25fabcbff461ad2ef150174a9aa6-s1100-c50.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 590px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-image-6 {
  height: 418px;
  width: 262px;
  margin: 248px -20px -126px 0;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 284px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 85px 94px 0;
}

.u-section-1 .u-text-4 {
  margin: 45px 424px 0 499px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  margin: 28px 477px 60px auto;
  padding: 8px 28px 8px 27px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1644px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 151px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 555px;
  }

  .u-section-1 .u-image-1 {
    height: 257px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    min-height: 327px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 394px;
  }

  .u-section-1 .u-image-3 {
    height: 270px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 430px;
  }

  .u-section-1 .u-image-4 {
    height: 242px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    min-height: 291px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 477px;
  }

  .u-section-1 .u-image-6 {
    height: 340px;
    width: 213px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 229px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
    width: 520px;
  }

  .u-section-1 .u-text-4 {
    line-height: 2;
    margin-right: 324px;
    margin-left: 399px;
    width: 217px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 277px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3246px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 155px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 613px;
  }

  .u-section-1 .u-image-1 {
    height: 528px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    min-height: 427px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 340px;
  }

  .u-section-1 .u-image-3 {
    height: 414px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 611px;
  }

  .u-section-1 .u-image-4 {
    height: 514px;
    margin-top: 55px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    min-height: 522px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 803px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 522px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 214px;
    margin-left: 289px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 57px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 6181px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 44px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 347px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 845px;
  }

  .u-section-1 .u-image-1 {
    height: 792px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    min-height: 809px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 366px;
  }

  .u-section-1 .u-image-3 {
    height: 621px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 801px;
  }

  .u-section-1 .u-image-4 {
    height: 735px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    min-height: 669px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 1205px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 579px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 124px;
    margin-left: 199px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4213px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 218px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 532px;
  }

  .u-section-1 .u-image-1 {
    height: 499px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    min-height: 509px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 230px;
  }

  .u-section-1 .u-image-3 {
    height: 391px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 504px;
  }

  .u-section-1 .u-image-4 {
    height: 463px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    min-height: 421px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 759px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 365px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 24px;
    margin-left: 99px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 100px;
}

.u-section-2 .u-social-icons-1 {
  height: 60px;
  min-height: 16px;
  width: 300px;
  min-width: 124px;
  margin: 20px auto;
}

.u-section-2 .u-icon-4 {
  height: 100%;
}